<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.indoorbeacon.app">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.bluetooth"/>
    <uses-feature android:name=" android.hardware.sensor.magnetometer"/>
    <uses-feature android:name=" android.hardware.sensor.accelerometer"/>


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme">

        <activity
                android:name=".controller.MainActivity"
                android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".SearchActivity"
                android:label="Nach Ziel suchen"
                android:parentActivityName=".controller.MainActivity">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.SearchActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.ExportImportDB"
            android:label="Import"
            android:parentActivityName=".controller.MainActivity">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.controller.ExportImportDB"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".SearchResultActivity"
                android:label="Suchergebnisse"
                android:parentActivityName=".SearchActivity">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.SearchResultActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".RoomlistActivity"
                android:label="Raumliste"
                android:parentActivityName=".controller.MainActivity">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.RoomlistActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="Einstellungen"
                android:parentActivityName=".controller.MainActivity">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.SettingsActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".NavigationActivity"
                android:label="Navigation"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.indoorbeacon.app.NavigationActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
